@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

:root {
    font-family: "IBM Plex Sans", "Arial", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
}

body {
    min-height: 100vh;
}


/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #EF6C00 #979E9F;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #979E9F;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B6BEC0;
}

*::-webkit-scrollbar-track:active {
    background-color: #757A7B;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #EF6C00;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #FF7D11;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #DE5B00;
}


